@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header {
  text-align: center;
  max-width: fit-content;
  margin-inline: auto;
}

.header h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.socials {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  padding-left: 5px;
  padding-right: 5px;
}

.socials li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  text-align: center;
  max-width: fit-content;
  margin-inline: auto;
  background-color: #dddddd;
  padding: 20px;
}

.navbar li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.navbar a:visited {
  color: #000000;
}

.pfp {
  text-align: center;
  max-width: fit-content;
  margin-inline: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

footer p {
    position: absolute;
	bottom: 0px;
	right: 10px;
}

footer img{
    position: absolute;
    bottom: 15px;
    right: 10px;
}
